<?xml version="1.0"?>
<configuration>

  <connectionStrings>
   
  <!--  <add name="DefaultConnection" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=D:\Documenti\Programmazione\dotNet\www.trova-libro.it\sito6.0\App_Data\mercatino.mdb" providerName="System.Data.OleDb"/>-->

    <add name="DefaultConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Documenti\Programmazione\dotNet\www.trova-libro.it\sito7.0\App_Data\mercatino.mdb" providerName="System.Data.OleDb"/>

    <add name="mercatino" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=D:\Documenti\Programmazione\dotNet\www.trova-libro.it\sito7.0\App_Data\mercatino.mdb" providerName="System.Data.OleDb"/>
    <add name="utenti" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=D:\Documenti\Programmazione\dotNet\www.trova-libro.it\sito7.0\App_Data\utenti.mdb" providerName="System.Data.OleDb"/>
    <add name="OLDmercatino" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=.\bachecaLibri.mdb" providerName="System.Data.OleDb"/>


    <add name="immobiliare" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=D:\Documenti\Programmazione\dotNet\www.cerco-vendo-casa.it\sito1.0\App_Data\immobiliare.mdb" providerName="System.Data.OleDb"/>
    <add name="RegioniProvinceComuni" connectionString="Provider=Microsoft.Jet.Oledb.4.0;Data Source=D:\Documenti\Programmazione\dotNet\www.cerco-vendo-casa.it\sito1.0\App_Data\RegioniProvinceComuni.mdb" providerName="System.Data.OleDb" />

  </connectionStrings>

  <appSettings>
    <add key="mail.isEnabled" value="true"/>
   <!-- <add key="mail.server" value="smtp.trova-libro.it"/>
    <add key="mail.server.userName" value="webmaster@trova-libro.it"/>
    <add key="mail.server.password" value="webmaster_75"/>
    
    
    <add key="mail.To.Ccn" value="roberto.rutigliano@gmail.com"/>
    <add key="mail.From" value="info@trova-libro.it"/>
    <add key="mail.webmaster" value="webmaster@trova-libro.it"/>-->

    <add key="mail.server" value="smtp.cerco-vendo-casa.it"/>
    <add key="mail.server.userName" value="webmaster@cerco-vendo-casa.it"/>
    <add key="mail.server.password" value="w3bm4st3r_75"/>
    <add key="mail.To.Ccn" value=""/>
    <add key="mail.From" value="info@cerco-vendo-casa.it"/>
    <add key="mail.webmaster" value="webmaster@cerco-vendo-casa.it"/>
    
  </appSettings>

  
  
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
